<wpf:ResourceDictionary xml:space="preserve" xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml" xmlns:s="clr-namespace:System;assembly=mscorlib" xmlns:ss="urn:shemas-jetbrains-com:settings-storage-xaml" xmlns:wpf="http://schemas.microsoft.com/winfx/2006/xaml/presentation">
	<s:Boolean x:Key="/Default/CodeStyle/Naming/CSharpNaming/ApplyAutoDetectedRules/@EntryValue">False</s:Boolean>
	<s:Boolean x:Key="/Default/Environment/Editor/UseCamelHumps/@EntryValue">True</s:Boolean>
[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = all
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion

# ReSharper properties
resharper_braces_for_foreach = required_for_multiline_statement
resharper_csharp_other_braces = next_line
resharper_for_other_types = use_var_when_evident
resharper_method_or_operator_body = expression_body
resharper_object_creation_when_type_evident = explicitly_typed
</wpf:ResourceDictionary>
